@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.about h1 {
  text-align: center;
  font: 600 34px Poppins;
  color: #183e9f;
  /* width: 600px; */
  margin: 50px auto;
}

.hospital-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hospital-info img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}
.slideshow-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}
.hospital-info p {
  width: 500px;
  font: 500 18px Poppins;
}
.hospital-info p span {
  color: #183e9f;
}

.hospital-info h2 {
  font: 500 30px Poppins;
  color: #183e9f;
  margin-bottom: 15px;
}
.information {
  display: flex;
  align-items: center;
  gap: 330px;
  margin: 60px 0;
}
.info2,
.info3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info2 h2,
.info3 h2 {
  font: 500 28px Poppins;
  color: #183e9f;
}
.info2 ul,
.info3 ul {
  list-style-type: none;
}
.info2 li,
.info3 li {
  font: 400 18px Poppins;
}

.slideshow-wrapper {
  position: relative;
  text-align: center;
}

.slideshow-img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.slideshow-dots {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot:hover {
  background-color: #999;
}

.dot.active {
  background-color: #1e3a8a;
}



@media (max-width: 1190px) {
  .hospital-info {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hospital-info img,
  .slideshow-img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .hospital-info p {
    width: 90%;
    font-size: 16px;
  }

  .hospital-info h2 {
    font-size: 24px;
  }

  .information {
    flex-direction: column;
    gap: 50px;
    margin: 40px 0;
    align-items: center;
  }

  .info2 h2,
  .info3 h2 {
    font-size: 22px;
    text-align: center;
  }

  .info2 li,
  .info3 li {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .about h1 {
    font-size: 24px;
    margin: 30px auto;
  }

  .hospital-info p {
    font-size: 14px;
  }

  .hospital-info h2 {
    font-size: 20px;
  }

  .info2 h2,
  .info3 h2 {
    font-size: 20px;
  }

  .info2 li,
  .info3 li {
    font-size: 14px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}
