@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.contact-page h1 {
  font: 600 34px Poppins;
  color: #54afe6;
}
.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 60px 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.contact-header-info {
  font: 500 16px Poppins;
  width: 450px;
  margin: 20px 0;
}
.contact-info p {
  font: 500 15px Poppins;
  margin-bottom: 15px;
}
.contact-form h2 {
  font: 500 24px Poppins;
  color: #54afe6;
  margin-bottom: 20px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map-container {
  width: 80%;
  margin: 0 auto;
}

.contact-form button {
  padding: 10px;
  background-color: #54afe6;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #183e9f;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  outline-color: #183e9f;
  font: 400 13px Poppins;
}

@media (max-width: 992px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .contact-form {
    width: 80%;
  }

  .contact-header-info {
    width: 90%;
  }

  .map-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact-page h1 {
    font-size: 26px;
    text-align: center;
  }

  .contact-form h2 {
    font-size: 20px;
    text-align: center;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-form button {
    font-size: 14px;
  }

  .contact-header-info,
  .contact-info p {
    font-size: 14px;
  }
}
