@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.navbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}
.logo {
  width: 50px;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav-links {
  width: 90%;
  display: flex;
  justify-content: end;
  gap: 30px;
  align-items: center;
}
.nav-links a {
  font: 500 20px Poppins;
  text-decoration: none;
  color: black;
}
.nav-links a:hover {
  color: #183e9f;
}
.nav-links .active {
  color: #183e9f;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}
.account-link {
  border: 1px solid #183e9f;
  padding: 10px;
  border-radius: 10px;
}
.active-account {
  background-color: #54afe6;
  border-color: #54afe6;
  text-decoration: none !important;
}
.burger-menu {
  display: none;
  cursor: pointer;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 350px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 30px;
  z-index: 1000;
  transition: 0.4s;
}

.mobile-nav.open {
  right: 0;
}

.mobile-nav a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  font: 500 16px Poppins;
}

.mobile-nav .account-link {
  border: 1px solid #183e9f;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}

.mobile-nav .active-account {
  background-color: #54afe6;
  border-color: #54afe6;
  color: white;
}

.close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: red;
  width: fit-content;
  border-radius: 50%;
  padding: 4px;
  position: relative;
  left: 220px;
}
.close-icon {
  font-size: 22px;
  color: white;
}

/* Responsive */
@media (max-width: 1200px) {
  .nav-links {
    gap: 20px;
  }
  .nav-links a {
    font-size: 18px;
  }
}

@media (max-width: 970px) {
  .nav-links {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
